@import 'normalize.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @responsive {
    .text-shadow {
      text-shadow: 2px 2px 4px currentColor;
    }

    .text-shadow-md {
      text-shadow: 4px 4px 8px currentColor;
    }

    .text-shadow-lg {
      text-shadow: 15px 15px 30px currentColor;
    }

    .text-shadow-none {
      text-shadow: none;
    }
  }
}

@layer utilities {
  .text-shadow {
      text-shadow: 2px 2px 4px currentColor;
    }
}

@layer components {
  .iterm {
    @apply text-red-500 shadow-md shadow-white px-3 py-1 block;
  }
}

html,
body,
#root {
  height: 100%;
}
